.app__nav-logo{
    border-radius: 90%;
   
}

@media screen and (max-width: 720px) {

    .app__nav-logo{
        border-radius: 90%;
        max-width: 50px;
        max-height: 50px;
    }
}

.app__nav-link {
    color: yellow;
    font-size: 1.5rem;
}